<!doctype html>
<html lang="ru" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style/style.css"/>
</head>
<body ng-controller="MainController as vm">

<div class="container-fluid" ng-init="vm._init_()">
    <div class="row">
        <div class="col-xs-4 text-center" ng-repeat="query in vm.queries track by $index">
            <strong>{{query.title}}</strong>
            <textarea ng-model="query.text" cols="30" rows="10" class="form-control"></textarea>
            <button class="btn btn-success btn-block" ng-click="vm.send($index)">Use it!</button>
        </div>
    </div>
    <div class="row output">
        <div class="col-xs-12">
            <pre ng-bind-html="vm.output | codeFormatter | trust : 'html'"></pre>
        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>

<script src="js/app.js"></script>
<!--Controllers-->
<script src="js/controllers/main.js"></script>

<!--Services-->
<script src="js/services/http-request.js"></script>

<!--Filters-->
<script src="js/filters/code-formatter.js"></script>
<script src="js/filters/trust-source.js"></script>
</body>
</html>