html, body, .container-fluid {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    overflow: hidden;
}

.row {
    margin-top: 10px;
}

.output {
    height: calc(100% - 300px);
}

.output * {
    height: 100%;
}

textarea {
    resize: none;
    max-width: 404px;
    max-height: 215px;
    margin-bottom: 5px;
}